
/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: #22a1c4;
  clear: both;
  text-align: center;
  position: relative;
  z-index: 9;
  .wrap {
    padding-bottom: 100px;
    padding-top: 100px;
    a {
      color: #fff;
      &.button {
        color: #fff;
      }
    }
  }
  color: #fff;
  a:hover {
    color: #000;
  }
  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .widget {
    margin-bottom: 40px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

